{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="login__carte">
        <div class="login__creation">
            <h3 class="crea__titre">Créer un compte</h3>
            <p class="crea__text">Créez un compte afin de commander un billet</p>
            <a class="btn__register" href="/register">Créer un compte</a>
        </div>
        <div class="login__connexion">
        <h3>Connecter vous <br />à Avignon Tickets</h3>
        <input placeholder="Email..." type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <input placeholder="Mot de passe..." type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn__login" type="submit">
            Se connecter
        </button>
        </div>
    </div>
</form>
{% endblock %}
