{% extends 'base.html.twig' %}

{% block body %}
<div class="container__details">
    <img id="listingDetailAffiche" src="{{ manif.affiche }}" class="img__details"
        alt="Affiche de {{ manif.titre }}">
    <div class="carte__details">
        <h1 class="titre__details">{{ manif.titre }}</h1>
        <p class="details">
            <span class="details__date">
                Tarif ticket : {{ manif.tarif }}€
            </span>
            <span class="details__date">
                Date : {{ manif.horaire }}
            </span>
            <span class="details__genre">
                Genre : {{ manif.genre }}
            </span>
            <span class="details__casting">
                Casting : {{ manif.casting }}
            </span>
            <span class="details__description">
                {{ manif.description }}
            </span>
        </p>
    </div>
    <div class="btn__bodydetails">
        <a href="#" id="btnAcheterTicket" class="btn__acheter">Acheter un ticket</a>
    </div>
    <div class="btn__bodydetails">
    <a href="/listing" class="btn__acheter">Retour à la liste</a>
    </div>
</div>
<productdetails pr-id="{{ manif.id }}" pr-name="{{ manif.titre }}" pr-price="{{ manif.tarif }}" />
{% endblock %}

{% block post_body_js %}
    <script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
    <script src="{{ asset('assets/js/addToCart.min.js') }}"></script>
{% endblock %}