{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <img id="listingDetailAffiche" src="/assets/img/affiches/{{ manif.affiche }}.jpg" class="card-img-top"
        alt="Affiche de {{ manif.titre }}">
    <h1>{{ manif.titre }}</h1>
    <p>
        Date : {{ manif.horaire }}<br />
        Genre : {{ manif.genre }}<br />
        Casting : {{ manif.casting }}<br />
        <hr>
        {{ manif.description }}
    </p>
    <hr>
    <a href="/listing">Retour à la liste</a>
    <a href="/cart/add/{{ manif.id }}">Acheter un ticket</a>
</div>
{% endblock %}