<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <navbar>
        <div class="navbar__container">
            <a class="navbar__logo" href="/">LOGO</a>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a class="navbar__links" href="/">Accueil</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__links" href="/listing">Evénement</a>
                    </li>
                    <li class="navbar__item">
                        <a  class="navbar__links" href="/">Nos Salles</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="navbar__item">
                            <a class="navbar__links" href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li  class="navbar__item">
                            <a class="navbar__links" href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar__item">
                            <a class="navbar__links" href="/login">Login</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__links" href="/register">Register</a>
                        </li>
                    {% endif %}
                    {# <li class="navbar__item"><a href="{{ path('contact') }}">Contact</a></li> #}
                    <li class="navbar__item">
                    <a class="navbar__links" href="/cart">Panier</a>
                    </li>
            </ul>
        </div>
    </navbar>
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        {% block post_body_js %}{% endblock %}
    </body>
</html>
